{% extends "layout.html" %}
{% block content %}
<div class="columns">
  <div class="column">
    <form action="/" method="post">
      <div class="field has-addons">
        <div class="control">
          <input
             class="input"
             type="number"
             name="length"
             placeholder="number of characters"
             required
             min="8"
             max="255"
             value="8"
             autofocus>
        </div>
        <div class="control">
          <button class="button is-info">
            Generate Random Password
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="columns">
  <div class="column">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th width="20%">Password</th>
          <th width="50%">Hash</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          <td class="is-size-7">{{ row.password }}</td>
          <td class="is-size-7">{{ row.password_hash }}</td>
          <td class="is-size-7">{{ row.created_at.strftime('%d/%m/%Y @ %H:%M:%S') }}</td>
          <td><a class="button is-danger is-size-7" href="/{{ row.id }}">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
